/* Media Queries for specific Devices */

/* 1366 by 768 */
@media (min-height: 768px) and (max-height: 768px) and (min-width: 1366px) and (max-width: 1366px) {

  /* .sidebar{ min-height: 120vh;}
  .menu__level{ height: 75vh !important; } */
  /* .right-side .main-side-two{ height: 60vh;} */
  /* #table-one{ height: 24vh;} */
  /* .mychartcontainer{ height: calc(47vh + 20px); width: 100%;} */
}
@media (min-width: 1950px) and (min-height: 1100px) {

  .sidebar{ height: 86vh !important; }
  .menu__level{ height: 75vh !important; }
  .right-side .main-side{ height: 27vh; }
  #table-one{ height: 19vh !important;}
  .right-side .main-side-two{ height: calc(57vh + 0.3em); }


}
